body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 90vw;  /* Use viewport width to make it responsive */
    max-width: 600px; /* Max width for larger screens */
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;  /* Make button grid take full width of container */
}

button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;  /* Use viewport height for responsive sizing */
    text-align: center;
}

button i {
    font-size: 8em;  /* Increase icon size */
    margin-bottom: 5px;
}

button:hover {
    background-color: #555;
}

.terminal-output {
    background-color: #000;
    color: #adadad;
    padding: 10px;
    border: 2px solid #000000;
    font-size: 1em;  /* Adjust font size for better readability */
    height: 20vh;  /* Use viewport height for responsive sizing */
    overflow-y: auto;
    text-align: left;
    width: 100%;
    max-width: 600px;
}
