body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 90vw;  /* Use viewport width to make it responsive */
    max-width: 800px; /* Increase max width for larger screens */
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;  /* Increase gap between buttons */
    margin-bottom: 20px;
    width: 100%;  /* Make button grid take full width of container */
}

button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 6em;  /* Increase font size for button text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;  /* Increase height of buttons */
    text-align: center;
}

button i {
    font-size: 4em;  /* Increase icon size */
    margin-bottom: 10px;  /* Increase margin between icon and text */
}

button:hover {
    background-color: #555;
}

.terminal-output {
    background-color: #000;
    color: #adadad;
    padding: 20px;  /* Increase padding for better readability */
    border: 2px solid #000000;
    font-size: 1.2em;  /* Increase font size for better readability */
    height: 200px;  /* Increase height of terminal output */
    overflow-y: auto;
    text-align: left;
    width: 100%;
    max-width: 800px;
}
